@import "colors";

ul {
  li {
    width: 100%;
  }
}

.list-group-item {
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: #5195ce;
  }
}

.preference {
  padding: 6px;
}

.repositories {
  margin: 6px;
}
