@import "colors";

.header {
  margin: 6px !important;
}

ul {
  li {
    width: 100%;
  }
}

.list-group-item {
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: #5195ce;
  }

  .media-body {
    cursor: pointer;
    .icon-plus {
      color: red;
    }
  }
}

.preference {
  padding: 6px;
}

.main {
  margin-top: 6px !important;
}

.repositories {
  margin: 6px;
}
